Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Builds/
JUCE/Builds/

*.user
*.userosscache
*.sln.docstates
Debug/
Release/
x64/
x86/
